name: med_ai
channels:
  - conda-forge
  - pkgs/main
  - pytorch
dependencies:
  - blas=1.0=openblas
  - brotlicffi=1.2.0.0=py310h50f4ffc_0
  - bzip2=1.0.8=h80987f9_6
  - c-ares=1.34.5=h5505292_0
  - ca-certificates=2025.12.2=hca03da5_0
  - certifi=2025.11.12=py310hca03da5_0
  - cffi=2.0.0=py310h73c2a22_1
  - charset-normalizer=3.4.4=py310hca03da5_0
  - eigen=3.4.0=h49c215f_1
  - expat=2.7.3=h50f4ffc_3
  - fftw=3.3.10=nompi_hea23c72_111
  - filelock=3.20.0=py310hca03da5_0
  - gmp=6.3.0=h313beb8_0
  - gmpy2=2.2.2=py310hbcc4bda_0
  - hdf5=1.14.6=nompi_hd3baa01_104
  - icu=73.2=hc8870d7_0
  - idna=3.11=py310hca03da5_0
  - jinja2=3.1.6=py310hca03da5_0
  - krb5=1.21.3=h237132a_0
  - lcms2=2.17=h7eeda09_0
  - lerc=4.0.0=hd64df32_1
  - libaec=1.1.4=h51d1e36_0
  - libcurl=8.17.0=hdece5d2_0
  - libcxx=20.1.8=hd7fd590_1
  - libdeflate=1.22=hd74edd7_0
  - libedit=3.1.20250104=pl5321hafb1f1b_0
  - libev=4.33=h93a5062_2
  - libexpat=2.7.3=h50f4ffc_3
  - libffi=3.4.4=hca03da5_1
  - libfreetype=2.14.1=hce30654_0
  - libfreetype6=2.14.1=h6da58f4_0
  - libgfortran=15.2.0=h09d7db9_1
  - libgfortran5=15.2.0=hb654fa1_1
  - libhwloc=2.12.1=default_h88f92a7_1000
  - libiconv=1.18=h23cfdf5_2
  - libitk=5.4.4=h195e050_0
  - libjpeg-turbo=3.1.2=hc919400_0
  - libnghttp2=1.67.0=hc438710_0
  - libopenblas=0.3.30=hf2bb037_2
  - libopenjpeg=2.5.4=haa24f5a_1
  - libpng=1.6.53=hfab5511_0
  - libsqlite=3.51.1=h9a5124b_0
  - libssh2=1.11.1=h1590b86_0
  - libtiff=4.7.0=hfce79cd_1
  - libwebp-base=1.6.0=h07db88b_0
  - libxcb=1.17.0=h3fc13f7_0
  - libxml2=2.13.9=h528a072_0
  - libzlib=1.3.1=h5f15de7_0
  - llvm-openmp=20.1.8=he822017_0
  - markupsafe=3.0.2=py310h80987f9_0
  - mpc=1.3.1=h80987f9_0
  - mpfr=4.2.1=h80987f9_0
  - mpmath=1.3.0=py310hca03da5_0
  - ncurses=6.5=hee39554_0
  - networkx=3.4.2=py310hca03da5_0
  - numpy=1.26.4=py310h901140f_1
  - numpy-base=1.26.4=py310hae06d03_1
  - openjpeg=2.5.4=h959fc53_1
  - openssl=3.6.0=h5503f6c_0
  - pillow=11.3.0=py310h5de80a5_3
  - pip=25.3=pyhc872135_0
  - pthread-stubs=0.3=h1a28f6b_1
  - pycparser=2.23=py310hca03da5_0
  - pysocks=1.7.1=py310hca03da5_1
  - python=3.10.15=hdce6c4c_2_cpython
  - python_abi=3.10=8_cp310
  - pytorch=2.2.2=py3.10_0
  - pywavelets=1.8.0=py310hc12b6d3_0
  - pyyaml=6.0.3=py310h091b9d3_0
  - readline=8.3=h0b18652_0
  - requests=2.32.5=py310hca03da5_1
  - setuptools=80.9.0=py310hca03da5_0
  - simpleitk=2.5.2=py310h3ff5593_1
  - sqlite=3.51.0=hab6afd1_0
  - sympy=1.14.0=py310hca03da5_1
  - tbb=2022.3.0=h66ce52b_1
  - tk=8.6.15=hcd8a7d5_0
  - torchvision=0.17.2=py310_cpu
  - typing_extensions=4.15.0=py310hca03da5_0
  - tzdata=2025b=h04d1e81_0
  - urllib3=2.6.1=py310hca03da5_0
  - wheel=0.45.1=py310hca03da5_0
  - xorg-libxau=1.0.12=h3fc13f7_0
  - xorg-libxdmcp=1.1.5=h3fc13f7_0
  - xz=5.6.4=h80987f9_1
  - yaml=0.2.5=h1a28f6b_0
  - zlib=1.3.1=h5f15de7_0
  - zstd=1.5.7=hbf9d68e_6
  - pip:
    - ImageIO==2.37.2
    - TotalSegmentator==2.11.0
    - acvl_utils==0.2.5
    - anyio==4.12.0
    - batchgenerators==0.25.1
    - batchgeneratorsv2==0.3.0
    - blosc2==3.12.2
    - click==8.3.1
    - connected-components-3d==3.26.1
    - contourpy==1.3.2
    - cycler==0.12.1
    - dicom2nifti==2.6.2
    - docopt==0.6.2
    - dynamic_network_architectures==0.4.2
    - einops==0.8.1
    - exceptiongroup==1.3.1
    - fft-conv-pytorch==1.2.0
    - fonttools==4.61.0
    - fsspec==2025.12.0
    - future==1.0.0
    - graphviz==0.21
    - h11==0.16.0
    - hf-xet==1.2.0
    - httpcore==1.0.9
    - httpx==0.28.1
    - huggingface_hub==1.2.1
    - imagecodecs==2025.3.30
    - importlib_resources==6.5.2
    - joblib==1.5.2
    - kiwisolver==1.4.9
    - lazy_loader==0.4
    - linecache2==1.0.0
    - matplotlib==3.10.7
    - msgpack==1.1.2
    - ndindex==1.10.1
    - nibabel==5.3.3
    - nnunetv2==2.6.2
    - numexpr==2.14.1
    - packaging==25.0
    - pandas==2.3.3
    - platformdirs==4.5.1
    - py-cpuinfo==9.0.0
    - pyarrow==22.0.0
    - pydicom==3.0.1
    - pykwalify==1.8.0
    - pyparsing==3.2.5
    - pyradiomics==3.1.1.dev111+g8ed579383
    - python-dateutil==2.9.0.post0
    - python-gdcm==3.2.2
    - pytz==2025.2
    - ruamel.yaml==0.18.16
    - ruamel.yaml.clib==0.2.15
    - safetensors==0.7.0
    - scikit-image==0.25.2
    - scikit-learn==1.7.2
    - scipy==1.15.3
    - seaborn==0.13.2
    - shellingham==1.5.4
    - six==1.17.0
    - threadpoolctl==3.6.0
    - tifffile==2025.5.10
    - timm==1.0.22
    - tqdm==4.67.1
    - traceback2==1.4.0
    - typer-slim==0.20.0
    - tzdata==2025.2
    - unittest2==1.1.0
    - urllib3==2.6.0
    - versioneer==0.29
    - xvfbwrapper==0.2.15
    - yacs==0.1.8

prefix: "/Users/akira/miniforge3/envs/med_ai"
